<%- include('../partials/header') %>

<!-- Start Breadcrumb -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Settings</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->

<div class="contentbar">
  <!-- <div class="col-lg-10 mx-auto"> -->
    <div class="row">
      <div class="col-lg-6">
        <a href="/api/creator/setting/profile">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/profile.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Profile</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/company.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Company</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/career-page.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Career Page</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/social-links.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Social Links</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/change-password.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Change Password</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/website-integration.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Website Integration</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/support.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Support</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="card m-b-30 hoverable">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center">
                <figure style="max-width: 120px; margin-bottom: 0">
                  <img
                    src="/assets/images/setting/subscription.png"
                    class="w-100"
                    alt=""
                  />
                </figure>
  
                <div>
                  <h5 class="card-title font-22">Subscription</h5>
                  <p class="card-text font-italic">
                    With supporting text below as a natural lead-in to additional
                    content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  <!-- </div> -->
</div>

<%- include('../partials/footer') %>
