<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>Admin Dashboard | Learnr</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="/assets/images/logos/learnr-logo-icon.png" />
    <!-- Start css -->
    <!-- Switchery css -->
    <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <!-- Dropzone css -->
    <link
      href="/assets/plugins/dropify/dist/css/dropify.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- DataTables css -->
    <link
      href="/assets/plugins/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/plugins/datatables/buttons.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Responsive Datatable css -->
    <link
      href="/assets/plugins/datatables/responsive.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- jvectormap css -->
    <link
      href="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css"
      rel="stylesheet"
    />
    <!-- Datepicker css -->
    <link
      href="/assets/plugins/datepicker/datepicker.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Pnotify css -->
    <link
      href="/assets/plugins/pnotify/css/pnotify.custom.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/assets/css/flag-icon.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Select2 css -->
    <link
      href="/assets/plugins/select2/select2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Tagsinput css -->
    <link
      href="/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- tostify -->
    <link
      href="/assets/plugins/pnotify/css/pnotify.custom.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Fancy Box -->
    <link
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
      rel="stylesheet"
    />
    <!-- Summernote css -->
    <link
      href="/assets/plugins/summernote/summernote-bs4.css"
      rel="stylesheet"
    />
    <!-- Daterange Picker -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- End css -->
  </head>